*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Permanent Marker', cursive;
}
    
main{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 50px;
    margin: 20px
}
h1{
    font-size: 30px;
}
.tableau{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    margin: 3rem auto;
    
}

.case{
    border: 2px solid black;
    font-size: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}